@font-face {
    font-family: VCR_OSD_MONO;
    src: url("../fonts/VCR_OSD_MONO.ttf");
}
body{
    background-color: #1e3a5f;
}
.contact-text,.contactName{
    color: white;
    text-align: center;
    font-family: VCR_OSD_MONO;
}
.contact-picture
{
    max-width: 100%;
}

.imageContainer
{
    height: 20vw;
    display: flex;
    align-items: center;
}

.contact-container{
    border-radius: 10px;
    padding: 10px;
}
