.content-container{
    flex: 1 0 auto;
}
footer h6 {
    font-family: VCR_OSD_MONO;
    height: 2.5vh;
    font-size: 2vh  ;
    color: white;
    margin: 1vh 0;
    float: right;
    padding-right: 5vw;
}
footer {
    background-color: #1e3a5f;
    width: 100%;
    margin-top: 20px;
    overflow: hidden;
    flex: 0 0 auto;
}
