.footer-credits{
    font-family: VCR_OSD_MONO;
    font-size:  2.4vh;
    color: white;
    margin-top: 1vh;
    margin-bottom: 1vh;
}
.footer-container{
    background-color: #1e3a5f;
    position: fixed;
    bottom: 0;
    width: 100%;
}
