@font-face {
    font-family: VCR_OSD_MONO;
    src: url("../fonts/VCR_OSD_MONO.ttf");
}
.headerlogo{
    width: 8vw;
}
.headerContainer{
    width: fit-content;
    font-family: VCR_OSD_MONO;
    font-size: 4vw;
}
.headerTextL{
    color: white;
    display: inline-block;
}
.headerTextR{
    color: white;
    display: inline-block;
}
.menu{
    font-family: VCR_OSD_MONO;
    position: relative;
    width: fit-content;
    height: 8vw;
    font-size: 2.04vw;
}

.menu-container{
    width: fit-content;
}
.menu-item{
    float: left;
}
.menu-item>a{
    color: white;
}
@media only screen and (max-width: 639px) {
    .headerlogo{
        width: 12vw;
    }
    .headerContainer{
        font-size: 4vw;
    }
    .menu{
        font-size: 3vw;
    }
}
@media only screen and (max-width: 639px) {
    .headerlogo{
        width: 12vw;
    }
    .headerContainer{
        font-size: 4vw;
    }
    .menu{
        font-size: 3vw;
    }
}
@media only screen and (min-width: 1024px) {
    .headerlogo{
        width: 6vw;
    }
    .headerContainer{
        font-size: 3vw;
    }
    .menu{
        font-size: 1.4vw;
    }
}
