@font-face {
    font-family: VCR_OSD_MONO;
    src: url("../fonts/VCR_OSD_MONO.ttf");
}
header
{
    flex: 0 0 auto;
}

.headerProfilePic{
    width: 3vw;
    border-radius: 50%;
    margin: 0.5vw;
    display: none;
}
.headerProfilePicMenu{
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
    margin-top: 4px;
}
.headerUserName{
    font-family: VCR_OSD_MONO;
    font-size: 2vw;
    padding-top: 0.7vw;
    display: none;
    color: white;
}
.headerlogo{
    width: 8vw;
}
.headerContainer{
    width: fit-content;
    font-family: VCR_OSD_MONO;
    font-size: 4vw;
}
.headerTextL{
    color: white;
    display: inline-block;
}
.headerTextR{
    color: white;
    display: inline-block;
}
.menu{
    font-family: VCR_OSD_MONO;
    position: relative;
    width: fit-content;
    height: 8vw;
    font-size: 2.04vw;
}

.menu-container{
    width: fit-content;
}
.menu-item{
    float: left;
}
.menu-item>a{
    color: white;
}
@media only screen and (max-width: 639px) {
    .headerlogo{
        width: 12vw;
    }
    .headerContainer{
        font-size: 4vw;
    }
    .menu{
        font-size: 3vw;
    }
}
@media only screen and (max-width: 639px) {

    .headerlogo{
        width: 12vw;
    }
    .headerContainer{
        font-size: 4vw;
    }
    .menu{
        font-size: 3vw;
    }
    .headerProfilePicMenu{
        display: none;
    }
}
@media only screen and (min-width: 1024px) {
    .headerlogo{
        width: 6vw;
    }
    .headerContainer{
        font-size: 3vw;
    }
    .menu{
        font-size: 1.4vw;
    }
    .headerProfilePic{
        display: inline;
    }
    .headerProfilePicMenu{
        display: none;
    }
    .headerUserName{
        display: inline;
    }
}
