/*
  Fonts
*/
@font-face {
  font-family: VCR_OSD_MONO;
  src: url("../fonts/VCR_OSD_MONO.ttf");
}

body
{
  margin: 0;
  overflow-x: hidden;
  background-color: #1e3a5f;
  color: white;
  overflow-x: hidden;
}
/*
  Header
*/
header
{
  position: absolute;
  width: 100%;
  top: 0;
}
h1 > img{
  width: 40%;
}
/*
  Parallax
*/

#parallax-overlay
{
  margin-top: 10%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

#parallax-overlay h1
{
  font-family: VCR_OSD_MONO;
}

/*
  Content
*/
#contentSection
{
  width: 95%;
  margin: 0 auto;
}

/*
  Headers
*/
h1,
h2,
h3
{
  margin-bottom: 30px;
}

/*
  Center with flex
*/
.flex-center
{
  display: flex;
  justify-content: center;
  align-items: center;
}

/*
  Suggested Courses
*/
#suggestedCourses
{
  max-width: 100%;
}

#suggestedCoursesContainer .grid-container
{
  padding: 0;
}

/*
  User Reviews
*/
#userReviews
{
  margin: -10px;
}

/*
  Content Section
*/

#contentSection > section 
{
  margin: 100px 0;
}

#contentSection > section:first-child
{
  margin-top: 0;
}

@media screen and (min-width: 600px)
{
  /*
    Paralex
  */
  #parallax-container
  {
    display: block;
    height: 100vh;
    width: 100vw;
    z-index: -1;
    position: relative;
  }

  #parallax-container div
  {
    position: fixed;
    top: 0;
    background-size: cover;
    background-position: center;
    transform: translateY(0px);
    height: 100vh;
    min-height: 500px;
    width: 100vw;
  }

  #parallax-container div:nth-of-type(1) { background-image: url("../img/1.png"); z-index: 50; }
  #parallax-container div:nth-of-type(2) { background-image: url("../img/2.png"); z-index: 40; }
  #parallax-container div:nth-of-type(3) { background-image: url("../img/3.png"); z-index: 30; }
  #parallax-container div:nth-of-type(4) { background-image: url("../img/4.png"); z-index: 20;}
  #parallax-container div:nth-of-type(5) { background-image: url("../img/5.png"); z-index: 10;}
  #parallax-container div:nth-of-type(6) { background-image: url("../img/6.png"); z-index: 5;}
  #parallax-container div:nth-of-type(7) { background-image: url("../img/7.png"); z-index: 0; }
}
