body{
    background-color: #1e3a5f;
}
.login-container{
    height: 30%;
    margin-top: 20%;
}
.button{
    color: white;
    font-size: 120%;
    text-align: center;
    border-radius: 10px;
    width: 50%;
    margin-top: 20px;
}
