body{
    background-color: #1e3a5f;
}

.button{
    color: white;
    font-size: 120%;
    text-align: center;
    border-radius: 10px;
    margin-top: 20px;
}

.content-container
{
    display:flex;
    justify-content: center;
    align-items: center;
}

form
{
    background-color: white;
    color: black;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0px 3px 16px rgba(0, 0, 0, 0.16);
    text-align: center;
    border-radius: 5px;
    width: 50%;
    margin: 0 auto;
    min-height: 300px;
    display: flex;
    flex-direction: column;
}

form p
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0 auto;
    font-size: 18px;
}

form .grid-container.full
{
    width: 90%;
}