body{
    background-color: #1e3a5f;
}
.achievementPicture{
    float: left;
    position: relative;
    width: calc(70%/3);
    border-radius: 50%;
    margin: 0 5%;
    margin-bottom: 10%;
}
.profilePicture{
    border-radius: 50%;
    width: 45%;
    margin-left: 27.5%;
}
.text{
    color: white
}
.completed{
    color: white;
}
.completed-text{
    font-size: 60%;
    text-align: center;
}
.completed-holder{

}
.completed-img{
    width: 11.1vw;
    border-radius: 50%;
    margin: 1vw;
}
