body
{
    background-color: #1e3a5f;
}
.achievementPicture
{
    position: relative;
    width: 100%;
    border-radius: 10px;
}
.profilePicture
{
    width: 100%;
}
.text
{
    color: white
}
.completed
{
    color: white;
}
.completed-text
{
    font-size: 15px;
    text-align: center;
}
.completed-img
{
    width: 100%;
    max-width: 500px;
    border-radius: 10px;
}

h4
{
    font-size: 28px;
    margin-bottom: 0;
}

#contentSection
{
    margin: 0 auto;
    width: 90%;
    max-width: 1000px;
}

p
{
    margin: 0;
    font-size: 70%;
}

.marginBox
{
    margin: 30px 0;
}

.marginBox p
{
    font-size: 16px;
}

.grid-container.achievementContainer
{
    width: 100%;
    margin: -5px;
}

.achievementContainer .cell
{
    margin: 5px;
}

.profileBox > *
{
    width: 60%;
    margin: 0 auto 30px auto;
    text-align: center;
}

.profilePictureSection img
{
    width: 50%;
}

@media screen and (min-width: 600px)
{
    .completed-img
    {
        width: 75%;
    }
    .achievementPicture{
        position: relative;
        width: 80%;
    }
}

@media screen and (min-width: 1023px)
{
    .achievementPicture{
        position: relative;
        width: 100%;
    }
    .profileBox > *
    {
        text-align: left;
    }
    .align-center
    {
        justify-content: flex-start;
        -webkit-box-pack: flex-start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: flex-start;
    }
    .profilePictureSection img
    {
        width: 75%;
    }
}