body {
    margin: 0;
    background-color: #1E1E1E;
    color: #FFF;
}

.output {
    font-family: consolas, Courier, monospace;
}

.output p {
    margin: 0;
}

.output .log {
    color: skyblue;
}

.output .error {
    color: red;
}

.output .warning {
    color: orange;
}

div.hidden {
    display: none;
}

.code {
    opacity: 0;
}
.editor{
    width: 512px;
    height: 600px !important;
    float: left;
}
.output{
    width: 512px;
    height: 600px !important;
    float: left;
    background-color: white;
}
.view-lines{
    height: 600px;
}

.content-container,
.grid-container,
.grid-x 
{
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

button
{
    color: white;
    background-color: #016EA6;
}

button:hover
{
    background-color: #0a8fd3;
}

.multiplechoice
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.content-container > div > div > div:nth-child(1)
{
    background-color: #f9f9f9;
    color: rgb(79, 79, 79);
}

.content-container hr
{
    background-color: rgb(79, 79, 79)
}