<link rel="stylesheet" href="../stylesheets/headerStylePartials.css" />
<div class="grid-x">
    <div class="cell large-4"></div>
    <div class="cell large-4 medium-6 small-12">
        <div class="float-center headerContainer">
            <p class="headerTextL">LEARN</p>
            <img src="../img/hackaton_logo.png" class="headerlogo">
            <p class="headerTextR">GETHER</p>
        </div>
    </div>
    <div class="cell large-4 medium-6 small-12 menu-container">
        <div class = align-middle>
            <ul class="menu float-center align-center">
                <li class="menu-item"><a href="#">HOME</a></li>
                <li class="menu-item"><a href="#">CONTACT</a></li>
                <li class="menu-item"><a href="#">PROFILE</a></li>
                <li class="menu-item"><a href="#">COURSES</a></li>
            </ul>
        </div>
    </div>
</div>
