<link rel="stylesheet" href="../stylesheets/headerStylePartials.css" />
<script src="../script//userdata.js"></script>
<header class="grid-x">
    <div class="cell large-4 profile">
        <img src="../img/no-image.png" class="profilePicture headerProfilePic float-left">
        <h4 class="float-left headerUserName userName">
            USERNAME
        </h4>
    </div>
    <div class="cell large-4 medium-5 small-12">
        <div class="float-center headerContainer">
            <p class="headerTextL">LEARN</p>
            <img src="../img/hackaton_logo.png" class="headerlogo">
            <p class="headerTextR">GETHER</p>
        </div>
    </div>
    <div class="cell large-4 medium-7 small-12 menu-container">
        <div class=align-middle>
            <ul class="menu float-center align-center">
                <li class="menu-item"><a href="index.php">HOME</a></li>
                <li class="menu-item"><a href="contact.php">CONTACT</a></li>
                <li class="menu-item login"><a href="login.php">LOGIN</a></li>
                <li class="menu-item"><a href="courses.php">COURSES</a></li>
                <li class="menu-item profile" style="display: none;"><a href="profile.php">PROFILE</a></li>
                <li class="menu-item profile" style="display: none;"><img src="../img/no-image.png"
                        class="userName headerProfilePicMenu profilePicture"></li>
            </ul>
        </div>
    </div>
</header>
